@import "variables";

$theme-colors: (
  "dark"        : $mydark_nav,
);

html, body, .component-container{
  height                  : 100vh;
  overflow                : hidden;
  background-color        : $mydark_main;
}


@import "node_modules/bootstrap/scss/bootstrap";
