<main>
    <!--- Dynamic Scaling i.e. responsive of the width--->
    <div class="main-column">
        <div class="left-item">
            <h4>Today</h4> <div class="date"> {{today}} </div> 
        </div>
        <div class="right-item">
            <h4>View</h4>
        </div>
    </div>
    <hr class="light">
    
    <ng-container *ngIf="newtasks$ | async as newtasks">
        <ng-container *ngFor="let task of newtasks">
            <div class="app-task main-column" [task]=task.task [date]=task.date [id]="task._id"></div>
            <hr class="light">
        </ng-container>
    </ng-container>   

    <ng-container>
            <form [formGroup]="taskForm" (ngSubmit)="addTask()">
                <textarea cols="5" formControlName="taskname" name="taskname">Add task Description</textarea>
                <div class="form-right">
                    <div class="left-item">
                        <input type="date" formControlName="date">
                    </div>
                    <div class="right-item">
                        <button [disabled]="!taskForm.valid"> Add Task</button>
                    </div>
                </div>
            </form>
        <hr class="light">
    </ng-container>
</main>

