<main>
    <!--- Dynamic Scaling i.e. responsive of the width--->
    <div class="main-column">
        <div class="left-item">
            <h4>Today</h4>
        </div>
        <div class="right-item">
            <h4>View</h4>
        </div>
    </div>
    <hr class="light">
    <ng-container *ngFor="let task of tasks">
        <div class="main-column">
            <div class="left-item">
                {{task.task}}
            </div>
            <div class="right-item">
                {{task.date}}
            </div>
        </div>
        <hr class="light">
    </ng-container>
    
    <ng-container>
        <div class="add-task"></div>
    </ng-container>

</main>

