<main>
    <!--- Dynamic Scaling i.e. responsive of the width--->
    <div class="main-column">
        <div class="left-item">
            <h4>Today</h4>
        </div>
        <div class="right-item">
            <h4>View</h4>
        </div>
    </div>
    <hr class="light">
    <ng-container *ngFor="let task of tasks">
        <div class="main-column">
            <div class="left-item">
                {{task.task}}
            </div>
            <div class="right-item">
                {{task.date}}
            </div>
        </div>
        <hr class="light">
    </ng-container>

    <ng-container>
        <!----Bootstrap forms form validation-->
            <form [formGroup]="taskForm" (ngSubmit)="addTask()">
                <textarea cols="5" formControlName="taskname" name="taskname">Add task Description</textarea>
                <div class="form-right">
                    <div class="left-item">
                        <input type="date" formControlName="date">
                    </div>
                    <div class="right-item">
                        <button [disabled]="!taskForm.valid"> Add Task</button>
                    </div>
                </div>
            </form>
        <hr class="light">
    </ng-container>


</main>

